node_modules/
./dist/
.tmp
.sass-cache

## bower components

bower_components/*

!bower_components/angular/
bower_components/angular/*

!bower_components/angular-ui-router/
bower_components/angular-ui-router/*
!bower_components/angular-ui-router/release/
bower_components/angular-ui-router/release/*

!bower_components/firebase/
bower_components/firebase/*

!bower_components/angular-md5/
bower_components/angular-md5/*

!bower_components/angularfire/
bower_components/angularfire/*
!bower_components/angularfire/dist/
bower_components/angularfire/dist/*

!bower_components/jquery/
bower_components/jquery/*
!bower_components/jquery/dist/
bower_components/jquery/dist/*

!bower_components/bootstrap/
bower_components/bootstrap/*
!bower_components/bootstrap/dist/
bower_components/bootstrap/dist/*

!bower_components/jquery/dist/jquery.js
!bower_components/angular/angular.js
!bower_components/bootstrap/dist/js/bootstrap.js
!bower_components/firebase/firebase.js
!bower_components/angularfire/dist/angularfire.js
!bower_components/angular-ui-router/release/angular-ui-router.js
!bower_components/angular-md5/angular-md5.js
